.login-with-account {
	padding-bottom: 15px;
}
.background_facebook{
	background-image: url(http://goodweb.ro/fb/assets/site/images/banner.png);
	background-size: cover;
}
.logo{
	color: white!important;
}
.logo span{
	color: white!important;
}
.card_blur{
	background-color: rgba(255, 255, 255, 0.79)!important;
}
.loader {
  height: 4px;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: #ddd;
}
.loader:before{
  display: block;
  position: absolute;
  content: "";
  left: -200px;
  width: 200px;
  height: 4px;
  background-color: #2980b9;
  animation: loading 2s linear infinite;
}

@keyframes loading {
    from {left: -200px; width: 30%;}
    50% {width: 30%;}
    70% {width: 70%;}
    80% { left: 50%;}
    95% {left: 120%;}
    to {left: 100%;}
}